- Use Watermark (LOGO) in form - Contact & Discuss with *Ahsan Javed.
- CopyRight for LOGO
______________________________
    DB-DataBase
---------------------------------------------
- Emergency Field in Database.

